.page {
  width: 100%;
  padding-top: 1rem;
  height: calc(100vh - var(--nav-height));
  display: flex;
  user-select: none;
  background: var(--bg-color-1);

  @media screen and (max-width: 768px) {
    padding-top: 0;
  }
}

.outline-card {
  background-color: var(--bg-color-2);
  border: 2px solid var(--color-400);
  border-radius: 0.25rem;
  font-size: 1rem;
  color: var(--text-color);
  padding: 0.5rem;
}

.standard-button {
  color: var(--text-color);
}

.standard-button:hover {
  background-color: var(--color-300);
  cursor: pointer;
}

.visualize-section-wrapper {
  background-color: var(--bg-color-1);
  height: 100%;
}

.controls-section,
.visualize-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem;
  gap: 0.5rem;
}

.visualize-section {
  background-color: var(--bg-color-2);
  @media screen and (max-width: 768px) {
    border-top-left-radius: 0;
  }
  border-top-left-radius: 1rem;
}

.controls-section {
  background-color: var(--bg-color-1);
  overflow: auto;
}

.controls-section-title {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--color-500);
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.algorithm-title {
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-500);
}
