.number-input-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.number-input-label {
  color: var(--text-header-color);
  font-size: 0.8rem;
  font-weight: 600;
}

.number-input-input {
  padding: 0;
  border: none;
  background-color: var(--bg-color-2);
  color: var(--text-color);
  font-size: 1rem;
}
