.step-slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.25rem;
}

.play-button,
.pause-button {
  width: 25px;
  height: 25px;
  cursor: pointer;
  fill: var(--color-500);
}

.slider {
  display: flex;
  width: 100%;
}

.step-slider-label {
  color: var(--color-500);
  font-weight: 550;
}
