.draw-buttons-component {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.draw-buttons-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  padding-top: 0.5rem;
  overflow: auto;
}

.draw-buttons-label {
  font-size: 1rem;
  color: var(--text-header-color);
  text-align: center;
  font-weight: 600;
}

.draw-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  min-width: 75px;
  min-height: 75px;

  text-transform: capitalize;
}

.draw-button:hover {
  background-color: var(--bg-color-1);
  cursor: pointer;
}

.draw-button.active {
  background-color: var(--color-300);
}

#WALL {
  width: 25px;
  height: 25px;
  background-color: black;
}

/* select #WALL if body.dark */
body.dark #WALL {
  background-color: rgb(180, 180, 180, 0.5);
}

#START {
  width: 25px;
  height: 25px;
  background-color: green;
}

#END {
  width: 25px;
  height: 25px;
  background-color: red;
}
