@tailwind base;
@tailwind components;
@tailwind utilities;

/* By default, tailwind has unstyled headers. I am modifying it so it reflects when reading MD files. */
@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  a {
    @apply text-blue-500 underline;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

*.dark,
*.light {
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
}

/* Any text that has .dark class */
.dark {
  color: #f0e7db;
}

/* Any text that has .light class */
.light {
  color: #202023;
}

body.dark {
  background-color: #202023;
}

body.light {
  background-color: #f0e7db;
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
