@tailwind base;
@tailwind components;
@tailwind utilities;

body.dark {
  color: white;
  background-color: #202023;
}

body.light {
  color: black;
  background-color: #f0e7db;
}

/* By default, tailwind has unstyled headers. I am modifying it so it reflects when reading MD files. */
@layer base {
  h1 {
    @apply text-4xl font-bold;
  }
  h2 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }

  ul {
    @apply list-disc list-inside;
  }

  li {
    @apply mb-1;
  }
}

* {
  box-sizing: border-box;
  font-family: "Inter";
}

*.dark,
*.light {
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    fill 0.2s ease-in-out;
}

.no-transition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
